.title-div{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.title-div input{
    width: 23%;
    background-color: rgba(255,255,255,0);
    border: 0;
    font-size: 2rem;
}

.store-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.store-box{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 7px;
    width: 400px;
    height: 400px;
}

.store-img{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.store-wrap{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.store-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.store-gbn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.store-distance{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 20%;
}

.store-2wrap{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.store-addr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
}
.store-vote-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}

.store-status{
    background-color: rgba(255, 51, 51, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.store-status.on{
    background-color: rgba(173, 255, 50, 0.6);
}

.store-vote-list.on{
    display: flex;
}

.store-vote-list{
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    width: 100px;
    height: 150px;
    margin-left: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.store-vote-list::-webkit-scrollbar{
    display:none;
}

ul{
    width: 80%;
    height: 80%;
}

li{
    text-align: center;
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

span{
    /*width: 100%;*/
    /*height: 100%;*/
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.border-tl-10{
    border-top-left-radius: 10px;
}

.border-tr-10{
    border-top-right-radius: 10px;
}

.border-bl-10{
    border-bottom-left-radius: 10px;
}

.border-br-10{
    border-bottom-right-radius: 10px;
}

/*
.store-list{
    width: 100%;
}

.store{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
}

.store .store-img{
    width: 20%;
    background-color: blue;
    height: 100%;
}
*/

