.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
}

.bottom {
    display: flex;
    height: 37vh;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.my-img {
    width: 30%;
}

.my-menus > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-line: none;
}
.my-menus > a > p {
    color: black;
}
