<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.admin.IAdminDao">

    <select id="roomList" resultType="RoomDto">
        SELECT room_code as roomCode , room_name as roomName FROM tbl_room;
    </select>

    <insert id="insertRoom">
        INSERT INTO tbl_room (room_code,room_name) VALUES (#{room.roomCode},#{room.roomName})
    </insert>

    <delete id="deleteRoom">
        DELETE FROM tbl_room where room_code = #{roomCode}
    </delete>

</mapper>